/* 헤더영역 */
header{
    background-image:linear-gradient(to top, rgba(0, 0, 0, 0.8),
                     rgb(0,0,0,.2)), url(images/main\ poster.jpeg);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}


/* 라인업 영역 */
.card-hover:hover {
    background-color: #A5D3B7;
}

/* 공연소개영역 */
#festival {
    background-image: url(./images/color.png);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}

/* 배너영역 */
#banner{
    background-color: gainsboro;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}